/* Style général */
body {
    background-color: #fff;
    color: #000;
}

/* Style pour les en-têtes */
.header, .footer {
    background-color: #fff;
    border-bottom: 2px solid #bc8517;
    color: #bc8517;
}

.header h1, .footer h1 {
    color: #bc8517;
}

/* Style pour les boutons */
.btn-primary {
    background-color: #bc8517;
    border-color: #bc8517;
    color: #fff;
}

.btn-primary:hover {
    background-color: #bc8517;
    border-color: #bc8517;
}

/* Style pour les inputs et labels */
.ui-field-contain label {
    color: #bc8517;
}

.ui-field-contain input {
    border: 1px solid #bc8517;
    color: #000;
    background-color: #fff;
}

.ui-field-contain input:focus {
    border-color: #bc8517;
}

/* Style pour la liste des contacts */
#contactList {
    border: 1px solid #bc8517;
    padding: 3px;
    border-radius: 10px;
    margin-block: 2px;
}

#contactList li a {
    border-bottom: 1px solid #bc8517;
}

#contactList li a h1, #contactList li a p {
    color: #000;
}
img{
    border-radius: 50px;
}